.header img {
    width: 120px;
    height: 70px;
}

.header {
    width: 100%;
    height: 70px;
    background-color: aqua;
    grid-area: h;
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
}
